/* font-size 
    20px = 1.250em
    22px = 1.375em
    23px = 1.438em  line-height 34px = 1.4782
    24px = 1.500em
    26px = 1.625em
    30px = 1.875em
    36px = 2.250em
    40px = 2.500em
    43px = 2.688em
    60px = 3.750em
*/
/* 공통 */
.wrap{
    max-width: 768px;
    margin: 0 auto;
    font-size: 1rem;
}
@media screen and (max-width:640px){
    .wrap{
        font-size: 2.5vw;
    }
}
.contentsWidth{max-width: 600px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}
mark{color:#7e00ff;  background-color: transparent;}
.underline{position: relative;}
.underline::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; }
/* 팝업 공통 */
.popupArea{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7);  z-index: 10;}
.popupArea.active{display: flex;}
.popupArea > div{position: relative;}
.popupArea > div button.popupCloseBtn{width: 1.438em; height: 1.438em; text-indent: -9999px; background: url('../images/XIcon.png') no-repeat center / cover; position: absolute; }

.QnAArea, .hospitalArea{height: 100vh; padding: 7.125em 0 7.500em; box-sizing: border-box;}
.QnADetailArea,.diagnosisResultArea{padding: 7.125em 0 7.500em; box-sizing: border-box;}
/* 답변 */
.answer{font-size: 1.250em; color: #7e00ff; font-weight: 700; width: 5.250em; height: 2.000em; border:2px solid #7e00ff; border-radius: 25px; background-color: white; display: flex; justify-content: center; align-items: center; box-sizing: border-box;}
.answer::after{content: '중';}
.answer.selection{background-color: #7e00ff; color: white;}
.answer.selection::after{content: '채택';}
/* 글쓰기 , 등록 버튼 */
.writeBtn{text-indent: 0; font-size:1.438em;  height: 2.609em; border: 2px solid #7e00ff; border-radius: 50px;}

/* 서브 메뉴 */
.subMenuArea{width: 100%; padding-top: 4.250em; position: relative;}
.subMenuArea ul{display: flex;  padding-bottom: 1.250em; border-bottom: 1px solid #a3a3a3;}
.subMenuArea ul li{font-size: 1.625em; font-weight: 900;}
.subMenuArea .subMenuBar{position: absolute; bottom: 0; height: 5px; background-color: #7e00ff;}

/* input */
input ,.tabBtnArea li
{flex: 1; font-size: 1.438em; font-weight: 600; height: 2.652em; border-radius: 30px; box-sizing: border-box; display: flex; justify-content: center; align-items: center;}
input[type="text"]{padding: 0 1.522em;}
input[type="text"]::placeholder{color: black;}

/* 탭 버튼 */
.tabBtnArea{display: flex; flex-wrap: wrap; position: relative; width: 100%; margin-bottom: 2.500em;}
.tabBtnArea li{background-color: white; flex: 1; border: 2px solid transparent;}
.tabBtnArea li.active{border-color: #7e00ff;}
.tabBtnArea li:not(:last-of-type){margin-right: 0.870em;}

ul.test{flex: 1; overflow-y: auto; margin-bottom: 3.125em;}
ul.test li div.testBox{display: flex; flex-wrap: wrap; justify-content: flex-start; padding: 1.875em 0 1.875em; border-bottom: 1px solid #9f9f9f;}
ul.test li div.testBox div.test01{width: 6.750em; height: 6.750em; line-height: 0; margin-right: 1.688em; position: relative;}
ul.test li div.testBox div.test01 .answer{position: absolute; left: -1em; top: -1.100em; }
ul.test li div.testBox div.test01 img{width: 100%;}
ul.test li div.testBox div.test02{flex: 1; height: 6.750em; display: flex; flex-direction: column; justify-content: space-around; padding: 0.625em 0; box-sizing: border-box;}
ul.test li div.testBox div.test02 p{display: flex; align-items: center; letter-spacing: -0.087em;}
ul.test li div.testBox div.test02 p strong{display: inline-block; font-size: 0.957em; margin-right: 0.909em;}
ul.test li div.testBox div.test02 p:nth-of-type(1){font-size: 1.438em; font-weight: 900;}
ul.test li div.testBox div.test02 p:nth-of-type(1) strong{font-weight: 900;}
ul.test li div.testBox div.test02 p:nth-of-type(2){font-size: 1.375em;}
ul.test li div.testBox div.test02 p:nth-of-type(2) strong{font-weight: 700;}
ul.test li div.testBox div.test02 p:nth-of-type(2) span:not(:last-of-type)::after{content: '/';}
ul.test ul.test{flex: auto; margin-bottom: 0;  background-color: #fafcfd;}
ul.test ul.test li:not(:last-of-type) div.testBox{border-color: #e0e1e2;}
ul.test ul.test li div.testBox{padding-left: 20px; padding-right: 20px;}
ul.test ul.test li div.testBox div.test02 P{padding-left: 1.217em;}
ul.test ul.test li div.testBox div.test02 P:nth-of-type(1){background: url('../images/LIcon.png') no-repeat left center; background-size: 0.478em 0.478em;}

/* 말풍선 버튼 */
button.speechBubbleIcon,
button.speechBubblePlusIcon
{text-indent: 0; font-size: 1.375em; display: flex; align-items: center;}
button.speechBubblePlusIcon{margin-left: 1.364em;}
button.speechBubbleIcon::before,
button.speechBubblePlusIcon::before
{content: ''; width: 1.000em; height: 1.000em; margin-right: 0.273em; background-repeat: no-repeat; background-position: center; background-size: cover;}
button.speechBubbleIcon::before{background-image: url('../images/speechBubbleIcon.png');}
button.speechBubblePlusIcon::before{background-image: url('../images/speechBubblePlusIcon.png');}

/* 뒤로가기 버튼 */
.backArrowBtn{width: 1.233em; height: 0.814em; background: url('../images/backArrowBtn.png') no-repeat center center / cover; margin-right: 0.535em;}

/* 해더 */
header{width: 100%; height: 7.125em; background-color: #f2f2f2; position: fixed; left: 0; top: 0; z-index: 10;}
header > div{height: 100%; display: flex; align-items: center; }
header > div > button.menuBtn{margin-right: 2.500em;}
header > div > button.menuBtn span{display: block; width: 33px; height: 0.250em; background-color: black; border-radius: 12.500em;}
header > div > button.menuBtn span:not(:last-of-type){margin-bottom: 0.688em;}
header > div > button:nth-of-type(2){margin-left: auto; margin-right: 2.250em;}
header > div > h1, header > div > h2{font-size: 2.688em; font-weight: 900;}
header > div > button.noticePopupBtn , header > div button.searcPopuphBtn{width: 2.563em; height: 2.438em; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
header > div > button.searcPopuphBtn{background-image: url('../images/searchIcon.png')}
header > div > button.noticePopupBtn{position: relative; background-image: url('../images/noticeIcon.png')}
header > div > button.noticePopupBtn span{font-size:1em; font-weight: 900; color: white;  position: absolute; right: -0.813em; top: -0.813em; width: 1.688em; height: 1.688em; display: flex; justify-content: center; align-items: center; border: 3px solid #f2f2f2; border-radius: 100%; background-color: #7e00ff; text-indent: 0;}

/* 헤더 팝업 공통 */
header > div .popupArea{justify-content: center; align-items: flex-start;}
header > div .popupArea > div{width: 100%; max-width: 767px; background-color: white; padding: 2.500em 40px 0; box-sizing: border-box;}
header > div .popupArea > div h2, header > div .popupArea > div h3{font-size: 2.688em; font-weight: 900; display: flex; align-items: center;}
header > div .popupArea > div button.popupCloseBtn{right: 40px; top: 2.500em;}
/* 해더 팝업 공통 fin*/

/* 해더 팝업 - 검색 팝업 */
header > div .popupArea > div.searcPopupArea{padding-bottom: 3.125em;}
header > div .popupArea > div.searcPopupArea h2, header > div .popupArea > div.searcPopupArea h3{margin-bottom: 2.093em;}
header > div .popupArea > div.searcPopupArea .searchArea{position: relative; margin-bottom: 4.375em;}
header > div .popupArea > div.searcPopupArea .searchArea input[type="search"]{font-size: 1.625em; font-weight: 700; width: 100%; height: 3.462em; border: 4px solid #7e00ff; padding: 0 1.154em; border-radius: 50px}
header > div .popupArea > div.searcPopupArea .searchArea input[type="search"]::placeholder{color: black;}
header > div .popupArea > div.searcPopupArea .searchArea .searchBtn{position: absolute; right: 2.125em; top: 1.750em; width: 1.813em; height: 1.813em; text-indent: -9999px; background: url('../images/searchIcon.png') no-repeat center / cover;}
header > div .popupArea > div.searcPopupArea ul{display: flex;}
header > div .popupArea > div.searcPopupArea ul li{font-size: 1.500em; color: #777777; position: relative;}
header > div .popupArea > div.searcPopupArea ul li::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color:#777777;}
header > div .popupArea > div.searcPopupArea ul li:not(:last-of-type){margin-right:1em; }
/* 해더 팝업 - 검색 팝업 fin */
/* 해더 팝업 - 검색 결과 */
.searchResultsArea{position: fixed; top: 7.125em; left: 0; width: 100%; height: calc(100vh - 7.125em); box-sizing: border-box; padding-top: 4.250em; background-color: white; z-index: 1;}
.searchResultsArea > div{}
.searchResultsArea > div > p{font-size: 2.250em; margin-bottom: 0.417em;}
.searchResultsArea > div > p span{display: inline-block; height: 100%;}
.searchResultsArea > div > p span.underline{padding-bottom: 0.333em; position: relative;}
.searchResultsArea > div > p span.underline::after{height: 0.139em; background-color: #7e00ff;}
.searchResultsArea > div > ul{height: calc(100vh - 15.313em); overflow-y: auto;}
.searchResultsArea > div > ul li{padding: 3.438em 0 2.813em; border-bottom: 1px solid #a3a3a3;}
.searchResultsArea > div > ul li strong{display: inline-block; font-size: 1.625em; font-weight: 900; margin-bottom: 0.577em;}
.searchResultsArea > div > ul li p{font-size: 1.438em; line-height: 1.4782;}


/* 해더 팝업 - 알림 팝업 */
header > div .popupArea > div.noticePopupArea{height: 46.875em; padding-bottom: 2.813em; display: flex; flex-direction: column;}
header > div .popupArea > div.noticePopupArea h2, header > div .popupArea > div.noticePopupArea h3{margin-bottom: 1.512em;}
header > div .popupArea > div.noticePopupArea .noticeArea{display: flex; flex-direction: column;}
header > div .popupArea > div.noticePopupArea .noticeArea p{font-size: 1.625em; font-weight: 700; align-self: flex-start; position: relative; margin-bottom: 2.500em;}
header > div .popupArea > div.noticePopupArea .noticeArea .underline::after{height: 1px;}
header > div .popupArea > div.noticePopupArea .noticeArea p.underline::after{background-color: black;}
header > div .popupArea > div.noticePopupArea .noticeArea p mark{font-weight: 700; position: relative;}
header > div .popupArea > div.noticePopupArea .noticeArea p mark.underline::after{height: 2px; bottom: 0.5px; background-color: #7e00ff; z-index: 1;}
header > div .popupArea > div.noticePopupArea .noticeArea ol li{font-size: 1.438em; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
header > div .popupArea > div.noticePopupArea .noticeArea ol li:not(:last-of-type){margin-bottom: 1.957em;}
header > div .popupArea > div.noticePopupArea .noticePageArea{flex: 1; display: flex; flex-direction: column;}
header > div .popupArea > div.noticePopupArea .noticePageArea h4{font-size: 1.625em; font-weight: 700; margin-bottom: 1.731em;}
header > div .popupArea > div.noticePopupArea .noticePageArea p{font-size: 1.438em; line-height: 1.4782; flex: 1; overflow-y: auto;}
header > div .popupArea > div.noticePopupArea .noticeControlsBtn{margin-top: auto; display: flex; justify-content: space-between; align-items: center;}
header > div .popupArea > div.noticePopupArea .noticeControlsBtn button{width: 1.188em; height: 2.188em; background-repeat: no-repeat; background-size: cover; background-position: center;}
header > div .popupArea > div.noticePopupArea .noticeControlsBtn button:nth-of-type(1){background-image: url('../images/prevBtn.png');}
header > div .popupArea > div.noticePopupArea .noticeControlsBtn button:nth-of-type(2){background-image: url('../images/nextBtn.png');}
header > div .popupArea > div.noticePopupArea .noticeControlsBtn div{font-size: 1.625em; display: flex;}
header > div .popupArea > div.noticePopupArea .noticeControlsBtn div span:first-of-type::after{content: '/';}
header > div .popupArea > div.noticePopupArea .noticeControlsBtn div.underline::after{height: 1px; background-color: black;}
/* 해더 팝업 - 알림 팝업 fin*/

/* 해더 fin*/

/* 하단 메뉴 */
.wrap > nav{position: fixed; left: 0; bottom: 0; width: 100%;  background-color: #7e00ff;}
.wrap > nav ul{display: flex;}
.wrap > nav ul li{flex: 1;  display: flex; justify-content: space-between; align-items: center;}
.wrap > nav ul li a{ font-size: 1.250em; color: #b388ff; width: 100%; padding:1.100em 0 1.100em 0; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.wrap > nav ul li a div{ width: 2.450em; height: 2.100em; margin-bottom: 0.750em;}
.wrap > nav ul li a div img{width: 100%;}
.wrap > nav ul li:nth-of-type(3) a{color: white; position: relative;}
.wrap > nav ul li:nth-of-type(3) a::after{    content: ''; position: absolute; bottom: 1.800em; left: -0.200em; width: 6.000em; height: 5.600em; background-color: #7e00ff; border-radius: 100%; z-index: -1;}
.wrap > nav ul li:nth-of-type(3) a div{}
.wrap > nav ul li:nth-of-type(3) a div img{transform: scale(1.45);transform-origin: bottom;}
/* 하단 메뉴 fin */
