.wrap{
    max-width: 768px;
    margin: 0 auto;
    font-size: 1rem;
}
@media screen and (max-width:640px){
    .wrap{
        font-size: 2.5vw;
    }
}
.contentsWidth{max-width: 600px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}

header{width: 100%; height: 7.125em; background-color: #f2f2f2; position: fixed; left: 0; top: 0;}
header > div{height: 100%; display: flex; align-items: center; }
header > div button.menuBtn{margin-right: 2.500em;}
header > div button.menuBtn span{display: block; width: 33px; height: 0.250em; background-color: black; border-radius: 12.500em;}
header > div button.menuBtn span:not(:last-of-type){margin-bottom: 0.688em;}
header > div button:nth-of-type(2){margin-left: auto; margin-right: 2.250em;}
header > div h1, header > div h2{font-size: 2.688em; font-weight: 900;}
header > div button.noticeBtn , header > div button.searchBtn{width: 2.563em; height: 2.438em; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
header > div button.searchBtn{background-image: url('../images/searchIcon.png')}
header > div button.noticeBtn{position: relative; background-image: url('../images/noticeIcon.png')}
header > div button.noticeBtn span{font-size:1em; font-weight: 900; color: white;  position: absolute; right: -0.813em; top: -0.813em; width: 1.688em; height: 1.688em; display: flex; justify-content: center; align-items: center; border: 3px solid #f2f2f2; border-radius: 100%; background-color: #7e00ff; text-indent: 0;}


.wrap > nav{position: fixed; left: 0; bottom: 0; width: 100%;  background-color: #7e00ff;}
.wrap > nav ul{display: flex;}
.wrap > nav ul li{flex: 1;  display: flex; justify-content: space-between; align-items: center;}
.wrap > nav ul li a{ font-size: 1.250em; color: #b388ff; width: 100%; padding:1.100em 0 1.100em 0; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.wrap > nav ul li a div{ width: 2.450em; height: 2.100em; margin-bottom: 0.750em;}
.wrap > nav ul li a div img{width: 100%;}
/* .wrap > nav ul li a img{width: 49px; height: 42px; margin-bottom: 15px;} */
.wrap > nav ul li:nth-of-type(3) a{color: white; position: relative;}
.wrap > nav ul li:nth-of-type(3) a::after{    content: ''; position: absolute; bottom: 1.800em; left: -0.200em; width: 6.000em; height: 5.600em; background-color: #7e00ff; border-radius: 100%; z-index: -1;}
.wrap > nav ul li:nth-of-type(3) a div{}
.wrap > nav ul li:nth-of-type(3) a div img{transform: scale(1.45);transform-origin: bottom;}
/* .wrap > nav ul li:nth-of-type(3) a img{transform: scale(1.45);transform-origin: bottom;} */