

/* login page */
.wrap .loginArea{height: 100vh;min-height: 71em;background: url(../images/loginBG.png) no-repeat center / cover;}
.wrap .loginArea{padding: 5em 2.5em 2.813em;box-sizing: border-box;display: flex;flex-direction: column;justify-content: flex-end;text-align: center;}
.wrap .loginArea h1{font-size: 1.938em;font-weight: 400;color: white;letter-spacing: -1px;margin-bottom: auto;}
.wrap .loginArea h1 img{display: block;width: 100%;max-width: 13.23em;margin: 20px auto 0;}
.wrap .loginArea ul{margin-bottom: 45px; position: relative;}
.wrap .loginArea ul::before{content: ''; position: absolute; left: 0; top: -20.19em; width: 100%; height: 20.19em; background: url(../images/loginCharacter.png) no-repeat center top; background-size: 23.38em;}
.wrap .loginArea ul li{font-size: 1.625em; background-color: white; border-radius: 80px; background-repeat: no-repeat; background-position: 1.538em center;}
.wrap .loginArea ul li:nth-of-type(1){background-image: url(../images/loginFacebook.png);}
.wrap .loginArea ul li:nth-of-type(2){background-image: url(../images/loginGoogle.png);}
.wrap .loginArea ul li:nth-of-type(3){background-image: url(../images/loginCacao.png);}
.wrap .loginArea ul li:nth-of-type(4){background-image: url(../images/loginNaver.png);}
.wrap .loginArea ul li:not(:last-of-type){margin-bottom: 0.8462em;}
.wrap .loginArea ul li a{font-weight: 600; display: block; height: 3.077em; display: flex; justify-content: center; align-items: center;}
.wrap .loginArea > a{position: relative; font-size: 1.375em; color: white; margin-bottom: 1.818em; padding-bottom: 0.09091em; padding-right: 1.364em; border-bottom: 1px solid rgba(255,255,255,0.5); align-self: center;}
.wrap .loginArea > a span{position: absolute; right: 0; top: 0px; font-size: 1.25em;}
.wrap .loginArea p{font-size: 1.25em; color: rgba(255,255,255,0.4);}
/* login page fin*/

/* hairInput 내 탈보 정보 입력*/
.hairInputArea{background-color: #f2f2f2; padding-top: 2.500em; padding-bottom: 3.750em;}
.hairInputArea fieldset legend{font-size: 2.688em; font-weight: 900; margin-bottom: 1.395em;}
.hairInputArea fieldset > ul > li{display: flex; flex-wrap: wrap; position: relative;}
.hairInputArea fieldset > ul > li:not(:last-of-type){margin-bottom: 2.500em;}
.hairInputArea fieldset > ul > li:last-of-type{margin-bottom:3.438em;}
.hairInputArea fieldset > ul > li h3{width: 100%; font-size: 1.625em; font-weight: 900; margin-bottom: 1.154em;}
.hairInputArea fieldset > ul > li h3 label{font-weight: 900;}
.hairInputArea fieldset > ul > li > button{position: absolute; right: 0; top: -0.250em; font-size:1.250em; color: white; width: 5.250em; height: 2.000em; background-color: #9f9f9f; border-radius: 30px; text-indent: 0;}
/* .hairInputArea fieldset > ul > li input ,
.hairInputArea fieldset > ul > li input[type="radio"] + label
{flex: 1; font-size: 1.438em; font-weight: 600; height: 2.652em; border-radius: 30px; box-sizing: border-box; border: 2px solid transparent; display: flex; justify-content: center; align-items: center;}
.hairInputArea fieldset > ul > li input[type="text"]{padding: 0 1.522em; border: none;} */
.hairInputArea fieldset > ul > li input ,
.hairInputArea fieldset > ul > li input[type="radio"] + label
{border: 2px solid transparent; }
.hairInputArea fieldset > ul > li input[type="text"]{border: none;}

.hairInputArea fieldset > ul > li input[type="radio"],
.hairInputArea fieldset > ul > li input[type="checkbox"]
{display: none}
.hairInputArea fieldset > ul > li input[type="radio"] + label{background-color: white;}
.hairInputArea fieldset > ul > li input[type="radio"]:checked + label{border-color: #7e00ff;}
.hairInputArea fieldset > ul > li input[type="radio"] + label:not(:last-of-type){margin-right: 0.870em;}
.hairInputArea fieldset > ul > li.test  input[type="radio"] + label{flex-basis: calc(25% - 0.870em);}
.hairInputArea fieldset > ul > li.test  input[type="radio"] + label:nth-of-type(4){margin-right: 0;}
.hairInputArea fieldset > ul > li.test  input[type="radio"] + label:nth-last-of-type(n + 5){margin-bottom: 0.565em;}
.hairInputArea fieldset > ul > li input[type="checkbox"] + label{width: 100%; font-size: 1.438em; font-weight: 600; display: flex; align-items: center;}
.hairInputArea fieldset > ul > li input[type="checkbox"] + label:not(:last-of-type){margin-bottom: 1em;}
.hairInputArea fieldset > ul > li input[type="checkbox"] + label::before{content: ''; width:1.609em; height: 1.609em; background-image: url('../images/checkboxIcon01.png'); background-repeat: no-repeat; background-size: cover; margin-right: 0.783em;}
.hairInputArea fieldset > ul > li input[type="checkbox"]:checked + label::before{background-image: url('../images/checkboxIcon02.png');}
.hairInputArea fieldset input[type="submit"]{font-size: 1.438em; font-weight: 600; width: 7.739em; height: 2.652em; border: none; border-radius: 30px; display: block; margin: 0 auto; color: white; background-color: #7e00ff;}

/* hairInput 내 탈보 정보 입력 - 팝업 공통*/
.hairInputArea fieldset .popupArea{justify-content: center; align-items: center;}
.hairInputArea fieldset .popupArea.active{display: flex;}
.hairInputArea fieldset .popupArea > div::after{content: ''; display: block; visibility: hidden; clear: both;}
.hairInputArea fieldset .popupArea > div{width: calc(100% - 40px); max-width: 600px; height: 33.938em; background-color: white; padding: 0 20px; box-sizing: border-box; border-radius: 25px;}
.hairInputArea fieldset .popupArea > div h4{width: 100%; font-size: 1.875em; font-weight: 900; padding-top: 1.833em;}
.hairInputArea fieldset .popupArea > div{position: relative;}
.hairInputArea fieldset .popupArea > div button.popupCloseBtn{right: 2.375em; top: 3.438em;}

.hairInputArea fieldset .popupArea .userHairPartPopupArea h4{margin-bottom: 2.900em;}
.hairInputArea fieldset .popupArea .userHairTypePopupArea h4{margin-bottom: 1.667em;}

/* 탈모부위 팝업 */
.hairInputArea fieldset .popupArea > div img{float: left; width: 50%;}

/* 투피타입 팝업 */
.hairInputArea fieldset .popupArea ul li{font-size: 1.438em; line-height: 1.4782;}
.hairInputArea fieldset .popupArea ul li strong{font-weight: 900;}
.hairInputArea fieldset .popupArea ul li strong::before{content: ':'; display: inline-block;}
.hairInputArea fieldset .popupArea ul li:not(:last-of-type){margin-bottom: 1.739em;}


/* Q&A */
.QnAArea > div{height: 100%; display: flex; flex-direction: column; padding-bottom: 5em; box-sizing: border-box;}
.QnAArea > div > *{max-width: 600px; margin: 0 auto; padding-right: 20px; padding-left: 20px; box-sizing: border-box;}
.QnAArea > div .subMenuArea{margin-bottom: 1.2500em;}
.QnAArea > div .subMenuArea ul{justify-content: space-between;}
.QnAArea > div > ul{flex: 1; overflow-y: auto; margin-bottom: 3.125em;}
/* .QnAArea > div > ul li{display: flex; flex-wrap: wrap; justify-content: flex-start; padding: 1.875em 0 2.500em; border-bottom: 1px solid #9f9f9f;}
.QnAArea > div > ul li div:nth-of-type(1){width: 6.750em; height: 6.750em; line-height: 0; margin-right: 1.688em; position: relative;}
.QnAArea > div > ul li div:nth-of-type(1) .answer{position: absolute; left: -1em; top: -1.100em; }
.QnAArea > div > ul li div:nth-of-type(1) img{width: 100%;} */
/* .QnAArea > div > ul li div:nth-of-type(2){flex: 1; display: flex; flex-direction: column; justify-content: space-around; }
.QnAArea > div > ul li div:nth-of-type(2) p{display: flex; align-items: center;}
.QnAArea > div > ul li div:nth-of-type(2) p strong{display: inline-block; font-size: 0.957em; margin-right: 0.909em;}
.QnAArea > div > ul li div:nth-of-type(2) p:nth-of-type(1){font-size: 1.438em; font-weight: 900;}
.QnAArea > div > ul li div:nth-of-type(2) p:nth-of-type(1) strong{font-weight: 900;}
.QnAArea > div > ul li div:nth-of-type(2) p:nth-of-type(2){font-size: 1.375em;}
.QnAArea > div > ul li div:nth-of-type(2) p:nth-of-type(2) strong{font-weight: 700;}
.QnAArea > div > ul li div:nth-of-type(2) p:nth-of-type(2) span:not(:last-of-type)::after{content: '/';} */
.QnAArea > div > ul li div:nth-of-type(3){width: 100%; padding-left: 8.438em; display: flex; margin-top: 1em;}
/* .QnAArea > div > ul li div:nth-of-type(3) button{text-indent: 0; font-size: 1.375em; display: flex; align-items: center;}
.QnAArea > div > ul li div:nth-of-type(3) button:not(:last-of-type){margin-right: 1.364em;}
.QnAArea > div > ul li div:nth-of-type(3) button::before{content: ''; width: 1.000em; height: 1.000em; margin-right: 0.273em; background-repeat: no-repeat; background-position: center; background-size: cover;}
.QnAArea > div > ul li div:nth-of-type(3) button.speechBubbleIcon::before{background-image: url('../images/speechBubbleIcon.png');}
.QnAArea > div > ul li div:nth-of-type(3) button.speechBubblePlusIcon::before{background-image: url('../images/speechBubblePlusIcon.png');} */
.QnAArea > div > button.writeBtn{width: 11.739em; display: block; margin: auto auto 0;}
/* Q&A fin*/


/* Q&A 상세페이지 */
.QnADetailArea > div{padding-bottom:4.375em;}
.QnADetailArea > div > div.QnADetailContentsArea{padding: 2.813em 0 1.875em; border-bottom: 1px solid #e3e3e3; margin-bottom: 3.750em;}
.QnADetailArea > div > div.QnADetailContentsArea h3{display: flex; justify-content: space-between; align-items: center; font-size:1.625em; font-weight: 700; margin-bottom: 1em;}
.QnADetailArea > div > div.QnADetailContentsArea h3 strong{font-weight: 900;}
.QnADetailArea > div > div.QnADetailContentsArea h3 span{font-size: 0.769em;}
.QnADetailArea > div > div.QnADetailContentsArea p:nth-of-type(1){display: flex; align-items: center; margin-bottom: 1.273em;}
.QnADetailArea > div > div.QnADetailContentsArea p:nth-of-type(1) strong{display: inline-block; font-size: 0.957em; margin-right: 0.909em;}
.QnADetailArea > div > div.QnADetailContentsArea p:nth-of-type(1){font-size: 1.375em;}
.QnADetailArea > div > div.QnADetailContentsArea p:nth-of-type(1) strong{font-weight: 700;}
.QnADetailArea > div > div.QnADetailContentsArea p:nth-of-type(1) span:not(:last-of-type)::after{content: '/';}
.QnADetailArea > div > div.QnADetailContentsArea img{width: 100%; margin-bottom: 1.875em;}
.QnADetailArea > div > div.QnADetailContentsArea p:nth-of-type(2){font-size: 1.438em; line-height: 1.5652; margin-bottom: 1.957em;}
.QnADetailArea > div > div.QnADetailContentsArea > div{display: flex; justify-content: flex-end;}
.QnADetailArea > div > div.QnADetailContentsArea .upDownBtnArea{margin-right: auto; }
/* Q&A 상세페이지 up , down 버튼*/
.upDownBtnArea{width: 9.063em; height: 2.813em; border: 1px solid #d5d5d5; border-radius: 50px; box-sizing: border-box; display: flex; justify-content: space-evenly; align-items: center;}
.upDownBtnArea span{font-size: 1.375em; font-weight: 700;}
.upDownBtnArea button.upBtn ,.upDownBtnArea button.downBtn{width: 1.250em; height: 1.250em; background-repeat: no-repeat; background-position: center; background-size: cover;}
.upDownBtnArea button.upBtn{background-image: url('../images/upIcon.png')}
.upDownBtnArea button.downBtn{background-image: url('../images/downIcon.png')}
.QnADetailArea > div select{display: block; margin-left: auto; font-size: 1.375em; font-weight: 700; width: 7.727em; height: 2.727em; padding: 0 0.909em; border-color: #d5d5d5; margin-bottom: 0.909em;}
.QnADetailArea > div > .test{border-top: 1px solid #9f9f9f;}
.QnADetailArea .test .answer{font-size: 0.870em; margin-right: 0.350em;}
.QnADetailArea .test .upDownBtnArea{font-size: 0.727em; margin-left: auto;}
.QnADetailArea .writeArea{display: flex;}
.QnADetailArea .writeArea input[type="text"]{flex: 1; border-color: #c3c3c3; border-style: solid; margin-right: 0.435em;}
.QnADetailArea .writeArea button{width: 5.435em; color: #7e00ff; font-weight: 700;}


/* 병원 의사 */
.hospitalArea > div{display: flex; flex-direction: column; height: 100%;}
.hospitalArea > div > .subMenuArea{margin-bottom: 2.500em;}
.hospitalArea > div > .subMenuArea ul{justify-content: space-around;}
.bannerArea{width: 100%; max-width: 600px; height: 11.063em; margin: 0 auto;  line-height: 0; border-radius: 50px; overflow: hidden;}
.bannerArea img{width: 100%;}
.hospitalArea > div > *:not(.bannerArea){width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; padding-right: 20px; padding-left: 20px; box-sizing: border-box;}
.hospitalArea > div button{font-size:1em; }
.hospitalArea > div button::before{width: 1.182em; height: 1.182em;}
