

/* login page */
.wrap .loginArea{height: 100vh;min-height: 71em;background: url(../images/loginBG.png) no-repeat center / cover;}
.wrap .loginArea{padding: 5em 2.5em 2.813em;box-sizing: border-box;display: flex;flex-direction: column;justify-content: flex-end;text-align: center;}
.wrap .loginArea h1{font-size: 1.938em;font-weight: 400;color: white;letter-spacing: -1px;margin-bottom: auto;}
.wrap .loginArea h1 img{display: block;width: 100%;max-width: 13.23em;margin: 20px auto 0;}
.wrap .loginArea ul{margin-bottom: 45px; position: relative;}
.wrap .loginArea ul::before{content: ''; position: absolute; left: 0; top: -20.19em; width: 100%; height: 20.19em; background: url(../images/loginCharacter.png) no-repeat center top; background-size: 23.38em;}
.wrap .loginArea ul li{font-size: 1.625em; background-color: white; border-radius: 80px; background-repeat: no-repeat; background-position: 1.538em center;}
.wrap .loginArea ul li:nth-of-type(1){background-image: url(../images/loginFacebook.png);}
.wrap .loginArea ul li:nth-of-type(2){background-image: url(../images/loginGoogle.png);}
.wrap .loginArea ul li:nth-of-type(3){background-image: url(../images/loginCacao.png);}
.wrap .loginArea ul li:nth-of-type(4){background-image: url(../images/loginNaver.png);}
.wrap .loginArea ul li:not(:last-of-type){margin-bottom: 0.8462em;}
.wrap .loginArea ul li a{font-weight: 600; display: block; height: 3.077em; display: flex; justify-content: center; align-items: center;}
.wrap .loginArea > a{position: relative; font-size: 1.375em; color: white; margin-bottom: 1.818em; padding-bottom: 0.09091em; padding-right: 1.364em; border-bottom: 1px solid rgba(255,255,255,0.5); align-self: center;}
.wrap .loginArea > a span{position: absolute; right: 0; top: 0px; font-size: 1.25em;}
.wrap .loginArea p{font-size: 1.25em; color: rgba(255,255,255,0.4);}
/* login page fin*/

/* hairInput 내 탈보 정보 입력*/
.hairInputArea{background-color: #f2f2f2; padding-top: 2.500em; padding-bottom: 3.750em;}
.hairInputArea fieldset legend{font-size: 2.688em; font-weight: 900; margin-bottom: 1.395em;}
.hairInputArea fieldset ul li{display: flex; flex-wrap: wrap; position: relative;}
.hairInputArea fieldset ul li:not(:last-of-type){margin-bottom: 2.500em;}
.hairInputArea fieldset ul li:last-of-type{margin-bottom:3.438em;}
.hairInputArea fieldset ul li h3{width: 100%; font-size: 1.625em; font-weight: 900; margin-bottom: 1.154em;}
.hairInputArea fieldset ul li h3 label{font-weight: 900;}
.hairInputArea fieldset ul li button{position: absolute; right: 0; top: -0.250em; font-size:1.250em; color: white; width: 5.250em; height: 2.000em; background-color: #9f9f9f; border-radius: 30px;}
.hairInputArea fieldset ul li input ,
.hairInputArea fieldset ul li input[type="radio"] + label
{flex: 1; font-size: 1.438em; font-weight: 600; height: 2.652em; border-radius: 30px; box-sizing: border-box; border: 2px solid transparent; display: flex; justify-content: center; align-items: center;}
.hairInputArea fieldset ul li > label{}
.hairInputArea fieldset ul li input[type="text"]{padding: 0 1.522em; border: none;}
.hairInputArea fieldset ul li input[type="radio"],
.hairInputArea fieldset ul li input[type="checkbox"]
{display: none}
.hairInputArea fieldset ul li input[type="radio"] + label{background-color: white;}
.hairInputArea fieldset ul li input[type="radio"]:checked + label{border-color: #7e00ff;}
.hairInputArea fieldset ul li input[type="radio"] + label:not(:last-of-type){margin-right: 0.870em;}
.hairInputArea fieldset ul li.test  input[type="radio"] + label{flex-basis: calc(25% - 0.870em);}
.hairInputArea fieldset ul li.test  input[type="radio"] + label:nth-of-type(4){margin-right: 0;}
.hairInputArea fieldset ul li.test  input[type="radio"] + label:nth-last-of-type(n + 5){margin-bottom: 0.565em;}
.hairInputArea fieldset ul li input[type="checkbox"] + label{width: 100%; font-size: 1.438em; font-weight: 600; display: flex; align-items: center;}
.hairInputArea fieldset ul li input[type="checkbox"] + label:not(:last-of-type){margin-bottom: 1em;}
.hairInputArea fieldset ul li input[type="checkbox"] + label::before{content: ''; width:1.609em; height: 1.609em; background-image: url('../images/checkboxIcon01.png'); background-repeat: no-repeat; background-size: cover; margin-right: 0.783em;}
.hairInputArea fieldset ul li input[type="checkbox"]:checked + label::before{background-image: url('../images/checkboxIcon02.png');}
.hairInputArea fieldset input[type="submit"]{font-size: 1.438em; font-weight: 600; width: 7.739em; height: 2.652em; border: none; border-radius: 30px; display: block; margin: 0 auto; color: white; background-color: #7e00ff;}
